<!DOCTYPE html>
<html>
<head>
	<title>1-hbnb</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="static/scripts/1-hbnb.js?cache_id=:cache_id"></script>
</head>
<body>
	<ul>
		<li>
			<input type="checkbox" data-id=":amenity_id" data-name=":24_hour_checkin">24-hour check-in
		</li>
		<li>
			<input type="checkbox" data-id=":amenity_id" data-name=":air_conditioning">Air conditioning
		</li>
		<li>
			<input type="checkbox" data-id=":amenity_id" data-name=":breakfast">Breakfast
		</li>
		<li>
			 <input type="checkbox" data-id=":amenity_id" data-name=":buzzer_wireless_intercom">Buzzer/wireless intercom
		</li>
		<li>
			 <input type="checkbox" data-id=":amenity_id" data-name=":cable_tv">Cable TV
		</li>
		<li>
			 <input type="checkbox" data-id=":amenity_id" data-name=":carbon_monoxide_detector">Carbon monoxide detector
		</li>
		<li>
			 <input type="checkbox" data-id=":amenity_id" data-name=":cat">Cat(s)
		</li>
		<li>
			 <input type="checkbox" data-id=":amenity_id" data-name=":dogs">Dog(s)
		</li>
		<li>
			 <input type="checkbox" data-id=":amenity_id" data-name=":doorman">Doorman
		</li>
	</ul>
	<div class="Amenities">
		<h4>Amenities: </h4>
	</div>
</body>
</html>
